* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	height: 100vh;
}
.text-box {
	position: absolute;
	width: 1140px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text-box img {
	position: relative;
	left: 25%;
	width: 500px;
}
input {
	position: relative;
	left: 20%;
	width: 60%;
	height: 30px;
	z-index: 2;
	border: 1px solid #000;
}
input:focus {
	outline: none;
}
.btn {
	position: relative;
	margin-top: 20px;
	top: 40%;
	left: 30%;
}
/*--------------------------------- */
.main-nav {
	float: right;
}
.main-nav li {
	display: inline-block;
	margin-top: 30px;
	margin-left: 50px;
}
.main-nav li .git {
	width: 48px;
}
